{% load static %}
<html>

<head>
    <title>Zevoyo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/style/h.css'%}">
</head>

<body>
    <div class="container">
        <ul>
            <img src="{% static 'myApp/images/logo1.jpeg' %}" alt="Logo" class="header-logo" style="width:100px; height: 50px; background-color: #d11450; padding-top: 3px;">
            <li class="account"><a href="/myApp/login">Login</a></li>
            <li class="account"><a href="/myApp/register">Signup</a></li>
        </ul>
        <form action="/myApp/x">
            <div class="background">

                <label for="city" class="label"><b>City</b></label>
                <input type="text" placeholder="Enter City" name="city" id="city" class="input" required>

                <label for="arrival" class="label"><b>Arrival Date</b></label>
                <input type="date" placeholder="Enter Arrival Date" name="arrival" id="arrival" class="input" required>

                <label for="departure" class="label"><b>Departue Date</b></label>
                <input type="date" placeholder="Enter Departue Date" name="departure" id="departure" class="input" required>

                <label for="rooms" class="label"><b>Required rooms</b></label>
                <input type="number" placeholder="Enter Number of rooms" name="rooms" id="rooms" class="input" required>
                <hr>

                <button type="submit" class="search-btn">Search</button>

            </div>
        </form>
    </div>
</body>

</html>