{% load static%}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/style/hotelDescription.css'%}">

</head>

<body>

    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="{% static 'myApp/images/hotel1.jpg'%}" width="50%">
            <img src="{% static 'myApp/images/hotel2.jpg'%}" width="50%" style="float: right;">
        </div>

        <div class="mySlides fade">
            <img src="{% static 'myApp/images/hotel3.jpg'%}" width="50%">
            <img src="{% static 'myApp/images/hotel4.jpg'%}" width="50%" style="float: right;">

        </div>

        <div class="mySlides fade">
            <img src="{% static 'myApp/images/hotel5.jpg'%}" width="50%">
            <img src="{% static 'myApp/images/hotel2.jpg'%}" width="50%" style="float: right;">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <div class="container">
        <div class="left-container">
            <h1>Golden Heights</h1>
            <p>Near Paradise Apartment, Sector 7 Dwarka, Delhi</p>
            <br>
            <h2>Description</h2>
            <p><i>
      Did you know that we’ve got 2.5 Crore bookings since March 2020? And this is all thanks to the sanitisation & safety measures followed at our properties, from disinfecting surfaces with high-quality cleaning products and maintaining social distance to using protective gear and more.

During these hard times, we understand how important sanitisation and cleanliness is to you. For your peace of mind and hygiene, we have made sure that all safety protocols are in place, including the sanitisation of floors, rooms and linens using good quality disinfectants. For additional safety, the staff here wears masks, uses sanitisers and maintains proper social distancing.

Location
Hotel Vivek Plaza is a graceful and well-maintained hotel located on 12 cross road, Ambala. It is close to Leh Riders Relax Stop and Sunset Point. It is very pocket-friendly lodge.
Special Features
The hotel rooms have TV and wooden furniture including a large cupboard for your storage needs. The picture frames and furnishings add to the decor of the rooms. The corridors and reception area are well-maintained.

Amenities
The rooms have queen-sized bed. The hotel CCTV has cameras and power backup. Refrigerator is provided by the hotel.

What's Nearby
Shanghai 1 Restaurant, Bachan Da Dhaba and Sharma Bhojnalaya are some of the hangouts to eat and spend quality time in the vicinity of the hotel.
  </i>

            </p>
            <br>
            <h2>Amenities</h2>
            <ul>
                <li>TV</li>
                <li>AC</li>
                <li>Free Wifi</li>
                <li>Card Payment</li>
                <li>24/7 Checkin</li>
                <li>King Sized Bed</li>
            </ul>
            <br>
            <h2>Hotel policies</h2>
            <ul>
                <li><i>Please check travel advisory issued by the concerned state government /local authorities before booking, as some places may have COVID-19 related travel/lodging restrictions.</i></li>
                <li><i>Guests can check in using any local or outstation ID proof (PAN card not accepted).</i></li>
                <li><i>This hotel is serviced under the trade name of Golden Heights as per quality standards of ZEVOYO.</i></li>
            </ul>
        </div>
        <div class="right-container">
            <div style="background-color: rgb(236, 92, 92); color: df293a; padding: 5px; padding-left: 10px;">
                Login now to get exclusive deals &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button style="background-color:rgb(236, 92, 92); ">LOGIN</button>
            </div>
            <div class="price-details">
                <h2 style="display: inline;">₹ 1234</h2>&nbsp&nbsp<span style="text-decoration: line-through;">₹ 2340</span><span>   50% off</span><br>
                <span>inclusive of all taxes</span>
            </div>
        </div>
    </div>

    <script src="{% static 'myApp/script/hotelDescription.js'%}"></script>
</body>

</html>