.body {
    background-color: black;
}

.chat {
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    background: rgb(220, 20, 60);
    box-shadow: 2px 0px 25px 20px #111;
    border-radius: 5px;
    margin-left: 500px;
}

.chat-content {
    font-family: 'Ubuntu', cursive;
}

.chat-user-special {
    color: yellow;
    font-size: 12px;
}

.chat-date {
    font-size: 10px;
}

.chat-user {
    font-size: 12px;
    margin-left: 10px;
}

.heading {
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    margin-left: 10px;
}