.container {
    margin: 0;
}

.ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    width: 10vw;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
}

.form {
    padding-top: 2px;
    display: flex;
    width: 100vw;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
    align-items: center;
    flex-direction: column;
}

.list a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}