.container {
    margin: 0;
}

.ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    width: 10vw;
    background-color: #f1f1f1;
    position: absolute;
    display: table;
    overflow: hidden;
}

.form {
    padding-top: 2px;
    display: flex;
    width: 100vw;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
    align-items: center;
    flex-direction: column;
}

.list {
    display: block;
    color: #000;
    text-decoration: none;
    width: 100%;
    background-color: blueviolet;
    height: 25px;
}