{% extends 'basic.html' %} {% block title %} Book Room {% endblock title %} {% block body %}

<div class="container">
    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 mx-auto my-4">

        <form action="/myApp/user/book-room/book/" method="POST">
            {% csrf_token %} {% load app_tags %}

            <div class="form-group">
                <label for="hotel">Hotel: </label>
                <input type="text" class="form-control" id="hotel" name="hotel" disabled value="{{room.hotel.name}}">
            </div>

            <div class="form-group">
                <label for="location">Location: </label>
                <input type="text" class="form-control" id="location" name="location" disabled value="{{room.hotel.city}}">
            </div>

            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" class="form-control" id="name" name="name" required="true" value="{{request.user}}">
            </div>

            <div class="form-group">
                <label for="email">Email: </label>
                <input type="text" class="form-control" id="email" name="email" required="true" placeholder="Enter your Email-id">
            </div>

            <div class="form-group">
                <label for="person">Person: </label>
                <input type="text" class="form-control" id="person" name="person" min="1" max="{{room.capacity}}" required="true" value="{{room.capacity}}">
            </div>

            <div class="form-group">
                <label for="check-in">Check-in: </label>
                <input type="date" class="form-control" id="check-in" name="checkIn" min={%todays_date%} max={%max_date%} placeholder="Check In" required="true">
            </div>

            <div class="form-group">
                <label for="check-out">Check-out: </label>
                <input type="date" class="form-control" id="check-out" name="checkOut" min={%tomorrow%} max={%max_date%} placeholder="Check Out" required="true">
            </div>

            <div class="form-group">
                <label for="room-type">Room Type: </label>
                <input type="text" class="form-control" id="room-type" name="roomtype" disabled value="{{room.get_roomType_display}}">
            </div>

            <div class="form-group">
                <label for="price">Price: </label>
                <input type="text" class="form-control" id="price" name="price" disabled value="{{room.price}}">
            </div>

            <button type="submit" class="btn btn-primary">Book Now</button>
            <input type="hidden" name="roomId" value="{{room.id}}">
        </form>

    </div>
</div>

{% endblock body %} 