.body{
    background-color: black;
}
.chat {
    background: rgb(220, 20, 60); 
    border-radius: 10px; 
    width: 70%; 
    padding: 10px;
}

.chat-content {
    font-family: 'Ubuntu', cursive;
}
.chat-user-special{
 color: yellow;
 font-size: 12px;
}
.chat-date{
 font-size: 10px; 
}
.chat-user{
 font-size: 12px; 
 margin-left: 10px;
}
.heading {
	font-family: 'Pacifico', cursive;
	letter-spacing: 2px;
    margin-left: 10px;
}