{% include "users.html" %} {% load static %} {% block body %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/chat.css'%}"> {% endblock css %}

<a href="/myApp/chat/all">
    <button class="btn btn btn-primary" style="margin-top: 20px; margin-left: 500px;">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        Refresh For Any New Chats
    </button>
</a>
<br><br><br>
<div class="body" id="chat">
    {% for chat in chatAll %} {% if chat.user == user %}
    <div class="chat chat1">
        <p><b class="chat-content ">{{ chat|linebreaks }}</b></p>
        <small class="chat-date ">{{ chat.posted_at }}</small>
    </div>
    {% else %}
    <div class="chat chat2">
        <p><b class="chat-content ">{{ chat|linebreaks }}</b></p>
        <small class="chat-date ">{{ chat.posted_at }}</small>
    </div>
    {% endif %}
    <br><br> {% empty %}
    <h1 class="heading ">No Chats Yet Be The First To Message!</h1><br> {% endfor %}
</div>
<br> {% if user.is_staff %}
<a href='/myApp/chat/new/?userid={{chatAll.0.user.id}}/'><button class="btn btn-outline-primary " style=" margin-left: 500px; ">New Message</button></a> {% else %}
<a href='/myApp/chat/new/'><button class="btn btn-outline-primary " style=" margin-left: 500px; ">New Message</button></a> {% endif %} {% endblock body %}