{% include "users.html" %} {% load static %} {% block body %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style/chat.css'%}"> {% endblock css %} {% if admin == 0 %}
<div class="body">
    <a href="/myApp/chat/all">
        <button class="btn btn-primary">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        Refresh For Any New Chats
    </button>
    </a>
    <br><br><br>
    <div class="chats" id="chat">
        {% for chat in chatAll %} {% if chat.user == user %}
        <div class="chat chat1">
            <p><b class="chat-content ">{{ chat|linebreaks }}</b></p>
            <small class="chat-date ">{{ chat.posted_at }}</small>
        </div>
        {% else %}
        <div class="chat chat2">
            <p><b class="chat-content ">{{ chat|linebreaks }}</b></p>
            <small class="chat-date ">{{ chat.posted_at }}</small>
        </div>
        {% endif %}
        <br><br> {% empty %}
        <h1 class="heading ">No Chats Yet Be The First To Message!</h1><br> {% endfor %}
    </div>
    <br>
    <div class="button"> {% if user.is_staff %}
        <a href='/myApp/chat/new/?userid={{userChat.id}}/'><button class="btn btn-outline-primary new">New Message</button></a> {% else %}
        <a href='/myApp/chat/new/'><button class="btn btn-outline-primary new">New Message</button></a> {% endif %}
    </div>
</div>
{% endif %} {% endblock body %}