{% extends 'basic.html' %} {% block title %} About {% endblock title %} {% load static %} {% block body %} {% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'myApp/style/about.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'myApp/css/style.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endblock css %}

<div class="container">
    <div class="heading">
        <br>
        <h1>About Us</h1>
    </div>
    <br>
    <div class="flexbox">
        <div class="box">
            <h2>The ZEVOYO Way</h2>
            <p>ZEVOYO's secret sauce? We offer tasteful spaces, whenever you need them, at unbeatable prices.
            </p>
        </div>
        <div class="box">
            <h2>Bland is out... ZEVOYO is in.</h2>
            <p>We've perfected the art of reviving old, worn down properties, and injecting them with new ZEVOYO style.</p>
        </div>
    </div>
    <div class="flexbox">
        <div class="box">
            <h2>Best-in-Class Efficiency.</h2>
            <p>Zero hassle every time.. Reserve a room in-person at one of our well-designed spaces or use our app to book in 3 easy steps.</p>
        </div>
        <div class="box">
            <h2>Surprisingly Unordinary</h2>
            <p>Wherever you go, stay at a space with a curated experience at a price you won't believe.</p>
        </div>
    </div>
    <div class="flexbox">
        <div class="bigbox">
            <br><br>
            <h2>The world is cozying up to ZEVOYO's idea of chic hotels for everyone.</h2>
            <p>ZEVOYO Hotels & Homes, a young hotel startup, today is the world’s leading chain of hotels, homes, and spaces. The portfolio combines fully operated real estate comprising more than {{hotels}} Hotels with {{rooms}} Rooms across {{cities}}
                cities.
            </p>
            <br>
        </div>
        <br>
    </div>
    <br>
</div>

<div class="footer">
    <div class="footer_bottom">
        <div class="follow-us">
            <a class="fa fa-facebook social-icon" href="contact.html#"></a>
            <a class="fa fa-twitter social-icon" href="#"></a>
            <a class="fa fa-linkedin social-icon" href="#"></a>
            <a class="fa fa-google social-icon" href="#"></a>
            <a class="fa fa-youtube social-icon" href="#"></a>
        </div>
        <div class="copy">
            <p>Copyright © ZEVOYO.</p>
        </div>
    </div>
</div>

{% endblock body %} {% block js %}
<script src="{% static 'myApp/js/bootstrap.min.js'%}"></script>
<script src="{% static 'myApp/js/jquery.flexslider.js'%}"></script>{% endblock js %}