{% extends 'basic.html' %} {% block title %} View Room {% endblock title %} {% block body %}

<h3 class="text-success">Details</h3>
<hr>
<div class="container mx-0"></div>
    <p><b>Room Type: </b> {{ room.get_roomType_display }} </p>
    <p><b>Name: </b> {{ room.get_name_display }} </p>
    <p><b>Capacity: </b> {{ room.capacity }} person </p>
    <p><b>Size: </b> {{ room.size }} ft </p>
    <p><b>Status: </b> {{ room.get_status_display| capfirst }} </p>
    <p><b>Address :-</b> {{room.hotel.address| capfirst}} </p>
    <p><b>City :-</b> {{room.hotel.city| capfirst}} </p>
    <p><b>State :-</b> {{room.hotel.state| capfirst}} </p>
    <p><b>Country :-</b> {{room.hotel.country| capfirst}} </p>
    <p><b>Pincode :-</b> {{room.hotel.pincode}} </p>
    <p><b>Contact Number :-</b> {{room.hotel.contactnumber}} </p>
</div>