{% extends 'basic.html' %} {% block title %} View Room {% endblock title %} {% load static %} {% block body %} {% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'myApp/style/description.css'%}"> {% endblock css %}
{% load app_tags %}
<br>
<br>
<div class="slideshow-container">

    
    <br>
    
    <div class="container">
      <div class="left-container">
        <h1>{{ room.hotel.name }}</h1>
        <h5>{{room.hotel.address| capfirst}} </h5>
        <p> {{room.hotel.city| capfirst}} , {{room.hotel.state| capfirst}} , {{room.hotel.pincode}} , {{room.hotel.country| capfirst}}</p>
        <br>
        <h2>Description</h2>
        <p><i>
          Did you know that we’ve got 2.5 Crore bookings since March 2020? And this is all thanks to the sanitisation & safety measures followed at our properties, from disinfecting surfaces with high-quality cleaning products and maintaining social distance to using protective gear and more.
    
    During these hard times, we understand how important sanitisation and cleanliness is to you. For your peace of mind and hygiene, we have made sure that all safety protocols are in place, including the sanitisation of floors, rooms and linens using good quality disinfectants. For additional safety, the staff here wears masks, uses sanitisers and maintains proper social distancing.

    It a graceful and well-maintained hotel located on 12 cross road. It is close to Leh Riders Relax Stop and Sunset Point. It is very pocket-friendly lodge.
    Special Features
    The hotel rooms have TV and wooden furniture including a large cupboard for your storage needs. The picture frames and furnishings add to the decor of the rooms. The corridors and reception area are well-maintained.
    
    Amenities
    The rooms have queen-sized bed. The hotel CCTV has cameras and power backup. Refrigerator is provided by the hotel.
    
    What's Nearby
    Shanghai 1 Restaurant, Bachan Da Dhaba and Sharma Bhojnalaya are some of the hangouts to eat and spend quality time in the vicinity of the hotel.
      </i>
      </p>
      </div>
      <div class="right-container">
        <table class="table">
          <caption>
            &nbsp&nbsp
            <h3>Offer price - ${{room.price}}</h3>
          </caption>

          <tr>
            <th>
              Room Type
            </th>
            <td>
              {{ room.get_roomType_display }}
            </td>
          </tr>
          <tr>
            <th>
              Capacity
            </th>
            <td>
              {{ room.capacity }} person
            </td>
          </tr>
          <tr>
            <th>
              Size
            </th>
            <td>
              {{ room.size }} ft
            </td>
          </tr>
          <tr>
            <th>
              Status
            </th>
            <td>
              {{ room.get_status_display| capfirst }}
            </td>
          </tr>
            
          <tr>
            <th>
              Balcony
            </th>
            <td>
              {{room.balcony}}
            </td>
          </tr>
          <tr>
            <th>
              Parking
            </th>
            <td>
              {{room.parking}}
            </td>
          </tr>
          
          <tr>
            <th>
              Bed Type
            </th>
            <td>
              {{room.bedType}}
            </td>
          </tr>
          <tr>
            <th>
              Tv
            </th>
            <td>
              {{room.tv}}
            </td>
          </tr>
          <tr>
            <th>
              Ac
            </th>
            <td>
              {{room.ac}}
            </td>
          </tr>
          <tr>
            <th>
              Refrigerator
            </th>
            <td>
              {{room.refrigerator}}
            </td>
          </tr>
          <tr>
            <th>
              Status
            </th>
            <td>
              {{room.status}}
            </td>
          </tr>
        </table>
      </div>
</div>

{% endblock body %}
