{% extends 'basic.html' %} {% block title %} View Room Details {% endblock title %} {% load static %} {% block body %} {% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'myApp/style/description.css'%}"> {% endblock css %}

<div class="slideshow-container">
    <br>

    <div class="container">
        <div class="left-container">
            <h1>{{ room.hotel.name }}</h1>
            <h5>{{room.hotel.address| capfirst}}, </h5>
            <h6 class="location"> {{room.hotel.city| capfirst}}, {{room.hotel.state| capfirst}}, {{room.hotel.country| capfirst}}- {{room.hotel.pincode}}
                <h5 class="location-1">
                    <a href="https://www.google.com/maps/dir//{{room.hotel.name}} + ' ' + 
                        {{room.hotel.address}} + ' ' + {{room.hotel.city}} + ' ' + {{room.hotel.state}} + ' ' + 
                        {{room.hotel.country}} + ' ' + {{room.hotel.pincode}}" target="_blank">
                        <i class="fa fa-directions"></i>
                    </a>
                </h5>
            </h6>
            <br>
            <h2>Description</h2>
            <p>
                <i>{{room.description}}</i>
            </p>
        </div>
        <div class="right-container">
            <table class="table">
                <caption>
                    &nbsp;
                    <h3>Price - ₹ {{room.price}}</h3>
                </caption>

                <tr>
                    <th>
                        Room Type
                    </th>
                    <td>
                        {{ room.get_roomType_display }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Capacity
                    </th>
                    <td>
                        {{ room.capacity }} person
                    </td>
                </tr>
                <tr>
                    <th>
                        Size
                    </th>
                    <td>
                        {{ room.size }} sq. ft.
                    </td>
                </tr>
                <tr>
                    <th>
                        Balcony
                    </th>
                    <td>
                        {{room.balcony}} sq. ft.
                    </td>
                </tr>
                <tr>
                    <th>
                        Parking
                    </th>
                    <td>
                        {% if room.parking %} Available {% else %} Not Available {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>
                        Bed Type
                    </th>
                    <td>
                        {{room.bedType}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Television
                    </th>
                    <td>
                        {{room.tv}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Ac
                    </th>
                    <td>
                        {{room.ac}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Refrigerator
                    </th>
                    <td>
                        {{room.refrigerator}}
                    </td>
                </tr>
            </table>
            {% if user.is_authenticated %}
            <a href="/myApp/user/book-room?roomid={{room.id}}"><button class="btn btn-warning">Book Now</button></a> {% else %}
            <a href="/myApp/user/login/" class="nav-link">
                <button class="btn btn-group bg-warning font-weight-bold" data-toggle="modal" data-target="#forlogin">
                    Login
                </button> {% endif %}
            </a>
        </div>
    </div>

    {% endblock body %}