{% extends 'basic.html' %} {% block title %} Contact {% endblock title %} {% load static %} {% block body %} {% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'myApp/style/footer.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'myApp/css/style.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endblock css %}
<div class="about">
    <div class="container">
        <section class="title-section">
            <h1 class="title-header">Contact Us</h1>
        </section>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="row contact_top">
            <div class="col-md-4 contact_details">
                <h5>Mailing address:</h5>
                <div class="contact_address">XYZ, XYZ, XYZ- 000000</div>
            </div>
            <div class="col-md-4 contact_details">
                <h5>Call us:</h5>
                <div class="contact_address"> 1800 123 1234<br>
                </div>
            </div>
            <div class="col-md-4 contact_details">
                <h5>Email us:</h5>
                <div class="contact_mail"> info@Zevoyo.com</div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_bottom">
        <div class="follow-us">
            <a class="fa fa-facebook social-icon" href="contact.html#"></a>
            <a class="fa fa-twitter social-icon" href="#"></a>
            <a class="fa fa-linkedin social-icon" href="#"></a>
            <a class="fa fa-google social-icon" href="#"></a>
            <a class="fa fa-youtube social-icon" href="#"></a>
        </div>
        <div class="copy">
            <p>Copyright © ZEVOYO.</p>
        </div>
    </div>
</div>


{% endblock body %} {% block js %}
<script src="{% static 'myApp/js/bootstrap.min.js'%}"></script>
<script src="{% static 'myApp/js/jquery.flexslider.js'%}"></script>
{% endblock js %}