{% extends 'basic.html' %} {% block title %}Zevoyo {% endblock title %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'myApp/style/index.css'%}"> {% endblock css %} {% block body %}
<!--Booking Section starts here-->
<section>
    <div class="container-fluid py-5 px-5 ">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row justify-content-center py-5 bg-light">
                <div class="col-lg-4">
                    <label for="">Location</label>
                    <select class="form-control" name="search_location" id="roomstatus">
                    <!--Hotel id and location-->
                    <option>Location</option>
                    {% for each_location in all_location %}
                        
                        <option value={{each_location}}>{{each_location}}</option>
                    {% endfor %}    
                        
                </select>
                </div>
                {% load app_tags%}
                <div class="col-lg-2">
                    <label for="">Check in</label>
                    <input class="form-control mr-sm-2" type="date" placeholder="Check in" name="cin" min={%todays_date%} max={% max_date %} aria-label="Search" required="True">
                </div>
                <div class="col-lg-2">
                    <label for="">Check Out</label>
                    <input class="form-control mr-sm-2" type="date" placeholder="Check out" name="cout" min={%tomorrow%} max={% max_date%} aria-label="Search" required="True">
                </div>
                <div class="col-lg-2">
                    <label for="">Person</label>
                    <input class="form-control mr-sm-2" type="number" placeholder="Person" name="capacity" aria-label="Search" required="True">
                </div>
                <div class="col-lg-2">

                    <input type="submit" value="Check Availabilty" class="form-control mr-sm-2 btn btn-primary my-4" style="position: relative;top: 7px;">
                </div>
                {% if rooms %}
                <p class="text-center text-success">Rooms Available</p>
                {% endif %}

            </div>
        </form>

    </div>
</section>
<!--Booking Section ends here-->
<!--Fetched reults appear here-->
<div class="container-fluid px-0 mx-aut">
    {% if rooms %}
    <table class="table">
        <thead class="o">
            <th>Hotel</th>
            <th>Type</th>
            <th>Location</th>
            <th>Person</th>
            <th>Price</th>
            <td>Action</td>
        </thead>
        {% for room in rooms %}
        <tr class="">
            <td>
                <b> {{ room.hotel.name }} </b>{{ room.hotel.type }}
            </td>
            <td>{{ room.get_roomType_display }}</td>
            <td>{{ room.hotel.city }}</td>
            <td>{{ room.capacity }}</td>
            <td>{{ room.price }}</td>
            <td>
                <a href="/myApp/user/description?roomid={{room.id}}" target="_blank">
                    <button class="btn btn-warning">View</button>
                </a>
            </td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}
</div>
<!--Fetched results ends here-->


<h3 class="text-center text-dark">Rooms Types</h3>

<!--Room tables starts here-->
<div class="container-fluid px-0" style="border:1px solid red">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Information</th>
                <th class="text-center">View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <!--Room details-->
                    <h1>Premimum</h1>
                    <p>Starting Price: ₹ 2500 per day</p>

                    <p>Size: 150 sq.ft.</p>
                    <p>Capacity: 2 persons</p>
                    <p>Facility: Television, AC, Refrigerator, Couch and Study Table</p>
                </td>
                <td class="text-center">
                    <!--Room Images-->
                    <img class="img-fluid pt-4 img" src="{% static 'myApp/images/premium.jpg'%}" alt="">
                </td>

            </tr>
            <tr>
                <td class="text-center">
                    <!--Room details-->
                    <h1>Deluxe</h1>
                    <p>Starting Price: ₹ 2000 per day</p>

                    <p>Size: 150 sq.ft.</p>
                    <p>Capacity: 2 persons</p>
                    <p>Facility: Television, AC and Couch</p>
                </td>
                <td class="text-center">
                    <!--Room Images-->
                    <img class="img-fluid pt-4 img" src="{% static 'myApp/images/deluxe.jpg'%}" alt="">
                </td>

            </tr>
            <tr>
                <td class="text-center">
                    <!--Room details-->
                    <h1>Basic</h1>
                    <p>Starting Price: ₹ 800 per day</p>

                    <p>Size: 100 sq.ft.</p>
                    <p>Capacity: 2 persons</p>
                    <p>Facility: Television and AC</p>
                </td>
                <td class="text-center">
                    <!--Room Images-->
                    <img class="img-fluid pt-4 img" src="{% static 'myApp/images/basic.jpg'%}" alt="">
                </td>

            </tr>

        </tbody>
    </table>
</div>
<!--Roo tables ends here-->


{% endblock body %}