{% extends 'basic.html' %} {% block title %} All Bookings {% endblock title %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'myApp/style/dashboard.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'myApp/style/common.css'%}"> {% endblock css %} {% block body %}
<h3 class="text-center text-success">All Bookings</h3>

<form action="/myApp/staff/allbookings/filter/data/" method="POST" class="all-booking">
    {% csrf_token %}
    <label for="filter">Filter:</label>
    <div class="form-group">
        <select class="form-control" id="filter" name="filter">
            <option value="allBookings">All Bookings</option>
            <option value="checkIn">Check-In</option>
            <option value="checkOut">Check-Out</option>
            <option value="city">City</option>
            <option value="guest">Guest</option>
            <option value="hotel">Hotel</option>
            <option value="hotelType">Hotel Type</option>
            <option value="roomType">Room Type</option>
            <option value="statusB">Booking Status</option>
        </select>
    </div>

    <div class="form-group" id="div-data">

    </div>

    <div class="form-group">
        <input type="submit" value="Filter" class="form-control btn btn-warning">
    </div>
</form>

<table class="table">
    <thead>
        <th>Guest</th>
        <th>City</th>
        <th>Hotel</th>
        <th>Hotel Type</th>
        <th>Room Type</th>
        <th>Person</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Price</th>
        <th>Booking Status</th>
        <th>Cancel Booking</th>
    </thead>

    {% for booking in bookings %}
    <tr>
        <td> {{ booking.guest.username| capfirst }} </td>
        <td> {{ booking.room.hotel.city }} </td>
        <td> {{ booking.room.hotel.name }} </td>
        <td> {{ booking.room.hotel.type }} </td>
        <td> {{ booking.room.get_roomType_display }} </td>
        <td> {{ booking.room.capacity }} </td>
        <td> {{ booking.checkIn }} </td>
        <td> {{ booking.checkOut }} </td>
        <td>Rs. {{ booking.room.price }} </td>
        <td>{{booking.get_status_display}}</td>
        <td>
            <form action="/myApp/booking/cancel/" method="POST">
                {% csrf_token %} {% if booking.cancel and booking.status == '1' %}
                <button type="submit" class="btn btn-danger">Cancel</button> {% else %}
                <button type="submit" class="btn btn-danger" disabled>Cancel</button> {% endif %}
                <input type="hidden" name="bookingId" value="{{booking.id}}">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock body %} {% block js %}
<script src="{% static '/myApp/script/filter.js' %}"></script>
{% endblock js %}