{% extends 'basic.html' %} {% block title %}Edit Room {% endblock title %} {% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'myApp/css/editRoom.css'%}"> {% endblock css %} {% block body %}

<h1 class="text-center bg-warning my-0">Edit Room</h1>
<!--Staff Section-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 mx-auto">

            <form action="/myApp/staff/dashboard/edit-room/edit/">

            </form>
        </div>
    </div>
</div>

{% endblock body %}