{% extends 'basic.html' %} {% load static %} {% block title %}Edit Room {% endblock title %} {% block body %}

<h1 class="text-center bg-warning my-0">Edit Room</h1>
<!--Staff Section-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 mx-auto">

            <form action="/myApp/staff/dashboard/edit-room/edit/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="hotel-name">Hotel Name:</label>
                    <input type="text" class="form-control" id="hotel-name" name="hotelName" value="{{room.hotel.name}}">
                </div>

                <div class="form-group">
                    <label for="room-number">Room Number:</label>
                    <input type="number" class="form-control" id="room-number" name="roomnumber" value="{{room.roomNumber}}" disabled>
                </div>

                <div class="form-group">
                    <label for="room-type">Room Type:</label>
                    <select class="form-control" id="room-type" name="roomType">
                        <option value="1">Premium</option>
                        <option value="2">Deluxe</option>
                        <option value="3">Basic</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="capacity">Capacity:</label>
                    <input type="number" class="form-control" id="capacity" name="capacity" value="{{room.capacity}}">
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" id="price" name="price" value="{{room.price}}">
                </div>

                <div class="form-group">
                    <label for="size">Size:</label>
                    <input type="number" class="form-control" id="size" name="size" value="{{room.size}}">
                </div>

                <div class="form-group">
                    <label for="bed-type">Bed:</label>
                    <input type="text" class="form-control" id="bed-type" name="bedType" value="{{room.bedType}}">
                </div>

                <div class="form-group">
                    <label for="tv">TV:</label>
                    <input type="text" class="form-control" id="tv" name="tv" value="{{room.tv}}">
                </div>

                <div class="form-group">
                    <label for="refrigerator">Refrigerator:</label>
                    <input type="text" class="form-control" id="refrigerator" name="refrigerator" value="{{room.refrigerator}}">
                </div>

                <div class="form-group">
                    <label for="ac">AC:</label>
                    <input type="text" class="form-control" id="ac" name="ac" value="{{room.ac}}">
                </div>

                <div class="form-group">
                    <label for="balcony">Balcony:</label>
                    <input type="text" class="form-control" id="balcony" name="balcony" value="{{room.balcony}}">
                </div>

                <div class="form-group">
                    <label for="parking">Parking:</label>
                    <select class="form-control" name="parking" id="parking">
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" cols="5">{{room.description}}</textarea>
                </div>

                <div class="form-group">
                    <label for="status">Status:</label>
                    <select class="form-control" id="status" name="status">
                        <option value="1">Available</option>
                        <option value="2">Not Available</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="location">City:</label>
                    <input type="text" class="form-control" id="location" name="location" value="{{room.hotel.city}}" disabled>
                </div>

                <button type="submit" class="btn btn-danger">Save</button>
                <input type="hidden" name="roomId" value="{{room.id}}">
                <input type="hidden" name="hotel" value="{{room.hotel.id}}">
                <input type="hidden" class="form-control" id="roomnumber" name="roomNumber" value="{{room.roomNumber}}">
            </form>
        </div>
    </div>
</div>

{% endblock body %}