body {
    margin: 0;
}
.body-part{
    height:calc(100% - 3em);
}
.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.header-part{
    height:3em;
}
.header-logo {
    width: 90px;
    height: 50px;
    background-color: #d11450;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #d11450;
}
.dropdown-content
      {
top: 53px !important;
width:190px !important;
      }
.account {
    float: right;
    border-right: 1px solid #bbb;
}

.logo {
    color: white;
    padding: 10px 0 5px 5px;
    text-align: center;
    float: left;
    font-size: xx-large;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20 20px 20px 20px;
    text-decoration: none;
}

.background {
    padding: 10vh 50vw 10vh 35vw;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    height: 72vh;
}

.input {
    width: 25vw;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.input:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    width: 25vw;
}

.search-btn {
    background-color: #df293a;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25vw;
    opacity: 0.9;
}

b {
    font-size: larger;
}


