* {
    margin: 0;
}

input {
    border: 0ch;
    padding: 10px 20px;
    width: 100%;
}

.tabs {
    border: 1px solid rgb(158, 155, 155);

}

.radii {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.makeRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cursorPointer {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
}

.Container {
    height: 70px;
}

.hotelNameWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(221, 218, 218);
    font-weight: bold;
    font-size: 25px;
}

.bottomWrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
}

.desc {
    display: flex;
    flex-wrap:wrap;
    
}

.descText {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.hotelName {
    font-weight: bold;
    font-size: larger;

}

p {
    margin: 0
}

.bescTextBodyWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.priceText {
    color: red;
    font-weight: bolder;
    font-size: 25px;
}

.perRoomText {
    color: rgb(138, 136, 136);
}

.bottomButtonContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}

.btnWrapper {
    align-self: flex-end;
}
.mainImage{
    width: 30%;
}

@media screen and (max-width: 768px) {
    .mainImage{
        width: 100%;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .nav-item{
        margin: 0px 10px;
    }
}